@{
    ViewData["Title"] = "Index";
}
<div>
<h1>Dana Mandelbaum</h1>
<h1>Uma Gotfryd</h1>

<ul>
    <li>Estudiantes de ORT</li>
    <li>16 años</li>
    <li>Informatica</li>
    <li>4to año</li>
</ul>
<img src = "/Imagenes/umaydana.jpg" /></div>

<a  href = '/Home/Index'> Volver</a>