@{
    ViewData["Title"] = "Index";
}
<header>
    <h3>Sala de escape</h3>
    <h1>Scary Little Monster</h1>
    <img src = "Imagenes/escape1.jpg"  />
    <img src = "Imagenes/escape3.jpg" />
    <img src = "Imagenes/escape2.jpg" />
    <nav class="nav1"> 
    <a  href = '/Home/Tutorial'> Tutorial</a>
    <a  href = '/Home/Comenzar'> Comenzar</a>
    <a  href = '/Home/Creditos'> Creditos</a>
    </nav>
</header>


