@{
    ViewData["Title"] = "Tutorial";
}
<h1>Tutorial</h1>
<div>
    <p>"Scary Little Monster" es una Sala de Escape de terro. Si cree que no va a poder resistirlo, le recomendamos que abandone ahora el sitio. </p>
    <P>Ahora si, les damos la BIENVENIDA cordialmente. Esta sala cuenta con cuatro habitaciones diferentes, en las cuales va a tener que resolver consignas para descifrar la clave y poder salir. Las reglas son las siguientes:</P>
    <ul>
        <li>1. Prohibido sacar fotos</li>
        <li>2. Prohibido buscar en Google las respuestas</li>
        <li>3. Prohibido tirar respuestas</li>
    </ul>
</div>

<a  href = '/Home/Index'> Volver</a>
