@{
    ViewData["Title"] = "Victoria";
}
<div>
<iframe src="https://giphy.com/embed/YdCVb6EVEfMKFWYufe" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/yankenpo-piedra-papel-tijeras-yan-ken-po-YdCVb6EVEfMKFWYufe">via GIPHY</a></p>
</div>

<a  href = '/Home/Index'> Volver a Inicio</a>