
html {
  font-size: 14px;
  position: relative;
  min-height: 100%;
}
.nav1.a{
  float:left;
  display: inline;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
  margin: 20px 60px 0px 20px;
  
}

footer {
  position: fixed; 
  bottom: 0; 
  margin: 10px 0px 20px 0px;
}

body{
  background-color: #e30032;
}

header h1{
  font-style: italic;
  text-align: center;
}
header h3{
  font-weight: 3000;
  font-style: oblique;
  text-align: center;
}

header img{
  float: left;
  width: 27%;
  height: auto;
  margin-left: 5%;
}

div p{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: larger;
  text-align: center;
}

h1{
  text-align: center;
}
form{
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #7F1815;
  color: #fff;
  border: none;
  text-align: center;
  cursor: pointer;
}
iframe{
  float: left;
 margin-left: 28%;
 width: 40%;
}
div img
{
  float: center;
  background-color: #e30032;
}

h3{
  text-align: center;
  color:black;
  font-size:x-large;
}

h4{
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-size: xx-large;
}

li{
  display: inline;
  width: 100%;
  padding: 10px;
  background-color: #691762;
  color: #fff;
  border: none;
  display: center;
  cursor: pointer;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
div img{
  width: 30%;
  height: auto;
  margin-left: 2.4%;
}
div{
  text-align: center;
}
.nav1{
  background-color: #fff;
  border: 1px solid #ccc;
  margin-bottom: 50px;
  font-size: x-large;
  display: inline-block;
  text-align: center;
}

header iframe{
  float: bottom;
  margin-left: 28%;
}

